<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    
    <li class="list-group-item">
      <form id="logout-form" action="{% url "logout" %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link" style="padding: 0; border: none; background: none; color: inherit; cursor: pointer;">Logout</button>
        <input type="hidden" name="next" value="{{ request.path }}">
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}

  <br>

  <li><a href="{% url 'catalog:index' %}">Home</a></li>
  <li><a href="{% url 'catalog:dish_type_list' %}">All dish types</a></li>
  <li><a href="{% url 'catalog:dish_list' %}">All dishes</a></li>
  <li><a href="{% url 'catalog:cook_list' %}">All cooks</a></li>
</ul>
