{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <form action="" method="get" class="form-inline">
  {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  <br>
    <h1>
      Cook List
      <a href="{% url 'catalog:cook_create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    {% if cook_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
      </tr>
    {% for cook in cook_list %}
      <tr>
        <td>{{ cook.id }}</td>
        <td><a href="{% url 'catalog:cook_detail' pk=cook.id %}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a></td>
        <td>{{ cook.first_name }}</td>
        <td>{{ cook.last_name }}</td>
        <td>{{ cook.years_of_experience }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no cooks in the service.</p>
    {% endif %}
{% endblock %}
