{% extends "base.html" %}

{% block content %}
  <h1>Dish List</h1>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
      <li>
        <a href="{% url "catalog:dish_detail" dish.id %}">{{ dish.name }}</a>
        <ul>
          {% if dish.cooks.all %}
            {% for cook in dish.cooks.all %}
            <li>{{ cook.username }}: {{ cook.first_name }} {{ cook.last_name }}</li>
            {% endfor %}
          {% else %}
            <li>No cooks assigned</li>
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dishes in our service.</p>
  {% endif %}
{% endblock %}
