{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'catalog:dish_delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'catalog:dish_update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Dish type: {{ dish.dish_type }}</p>
  <h1>
    Cooks

    {% if cook in user.cooks.all %}
      <a href="{% url 'catalog:toggle_dish_assign' pk=dish.id %}" class="btn btn-danger link-to-page">
        Delete me from this dish
      </a>
    {% else %}
      <a href="{% url 'catalog:toggle_dish_assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Assign me to this dish
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }}: ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
