{% extends "base.html" %}

{% block content %}

  <h1>Welcome to Restaurant Kitchen Service!</h1>
  <p>Here you can browse different dishes and look at the profiles of different cooks located worldwide!</p>
  <h2>Dynamic content</h2>
  <p> For now, our records have:</p>
  <ul>
    <li><strong>Dish Types:</strong> {{ num_dish_types }}</li>
    <li><strong>Dishes:</strong> {{ num_dishes }}</li>
    <li><strong>Cooks:</strong> {{ num_cooks }}</li>
  </ul>
  
  <p>
  You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
  
{% endblock %}
